body{
    background-color: rgb(4, 1, 56);
    background-image: url("../src/image/C.jpg");
}
.root{
    display:  flex ;
    flex-wrap: wrap ;
    padding: 10px; width: 600px; margin: 28px auto;
    margin-top: 20px;
    left: 3px; right: 40px;margin-left: 400px; 
}
.paperstyle{
      padding: 10px ;  max-height: 15vh ; width: 600px ; margin-left: 100px ; margin: 15px auto ;   left: 200px
    
}
.option_{
    margin-left: 20px;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .paperstyle {
      background-color: rgba(67, 64, 64, 0.5);
      -webkit-backdrop-filter: blur(2em);
      backdrop-filter: blur(0.5em);
    }
  }

  .option{
      display: inline-flex;
  }

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .paperstyle {
      background-color: rgba(67, 64, 64, 0.5);
      -webkit-backdrop-filter: blur(2em);
      backdrop-filter: blur(0.5em);
    }
  }

.root{
    display : "flex",
    flexWrap = 'wrap',
    padding = 10, width = 600, margin= 28px auto,
    marginTop = 20,
    left = 3, right = 40
}

.textField{
    width: 60ch; left: 10 ;  overflow-wrap: break-word
} 
.timer{
    margin-left: 600px;
}
.Quiz{
    display: inline;
}